@{
    ViewBag.Title = "Contact";
}

<div id="sve">
    <h2>@ViewBag.Title.</h2>
    <h1> </h1>
    <address>
        <div id="bulevar">Address: Ulica Francuske Revolucije bb, Sarajevo</div>
        <br />
        <abbr title="Phone" id="phone">Phone Number:</abbr>
        033-470-119
    </address>

    <address>
        <strong id="please">Please contact this email if there are any issues:</strong>   <a href="mailto:imran.ahmic@yahoo.com">imran.ahmic@yahoo.com</a><br />

    </address>
</div>

<body>

</body>



<style>
    body {
        color: white;
        background-color: transparent;
    }

    html {
        background: url('/assets/ibu-bg.jpg') no-repeat center center fixed;
        /*webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;*/
        background-size: cover;
    }

    #please {
        font-size: 14px;
        color: white;
        position: center;
    }

    #phone {
        font-size: 14px;
        color: white;
        position: center;
    }

    #bulevar {
        font-size: 14px;
        color: white;
        position: center;
    }

    #sve {
        font-size: 14px;
        color: white;
        position: center;
    }
</style>