@{
    ViewBag.Title = "Home Page";
}


<h2>  </h2>
<h2>  </h2>
<h1>Welcome to Burch Leave Request System.</h1>

<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>

<div class="row">
    <div class="col-md-4 linkovi">
        <h2>Burch Home Page           </h2>
        <p>
          
                
       </p>
        <p><a class="btn btn-default" href="http://www.ibu.edu.ba/">Burch Home &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learning Management System</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://lms.ibu.edu.ba/">LMS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Information System</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://my.ibu.edu.ba/my/login">SIS &raquo;</a></p>

      
    </div>
</div>

<style>

    body {

        color:white;
        background-color:transparent;
        margin-bottom:auto;

    }


    .form-horizontal {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form-group {
        position: relative;
        z-index: 1;
        background: #ffffff;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .col-md-10 {
        margin-right: 100px;
    }

    html {
      
 
        background: url('/assets/ibu-bg.jpg') no-repeat center center fixed;
        /*webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;*/
        background-size: cover;

    }
    .linkovi
    {
        margin-bottom:50px;
    }
    

    .btn-default {
        background: #008CBA;
        color: white;
    }
</style>